<footer class="border-t py-6 md:px-8">
  <div
    class="container flex flex-col items-center justify-center gap-4 md:flex-row"
  >
    <p
      class="text-center text-md leading-loose text-accent-foreground md:text-left text-sm md:text-base"
    >
      Baked with <span class="text-pink-500">&hearts;</span> by <a
        href="https://github.com/DiziASP"
        class="underline">Dizi</a
      > using <a
        href="https://astro.build/"
        class="text-purple-700 hover:underline">Astro</a
      > and <a
        href="https://tailwindcss.com"
        class="text-sky-700 hover:underline">Tailwind CSS</a
      >
    </p>
  </div>
</footer>
