---
import ProjectCard from "@/components/ProjectCard";
import { project } from "@/lib/site.config";
import Reveal from "@/components/Reveal";
---

<section
  class="flex flex-col w-full gap-6 justify-center py-24 md:px-24"
  id="projects"
>
  <div class="items-center justify-between w-full flex flex-row space-x-6">
    <h2 class="text-3xl text-center md:text-5xl font-semibold">
      <span class="text-2xl font-normal">02.</span>
      Projects<span class="dark:text-violet-400 text-violet-600 animate-pulse"
        >.</span
      >
    </h2>
    <hr class="flex-grow border-2 border-accent" />
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
    {
      project.map((item) => (
        <Reveal client:visible>
          <ProjectCard {...item} />
        </Reveal>
      ))
    }
  </div>
</section>
