---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Hero from "@/components/sections/Hero.astro";
// import Experience from "@/components/sections/Experience.astro";
// import Projects from "@/components/sections/Project.astro";
// import Contact from "@/components/sections/Contact.astro";
---

<BaseLayout title="Home" description="Homepage of Dizi's Personal Website">
  <div class="flex flex-col h-full w-full">
    <Hero />
    <!-- <Experience /> -->
    <!-- <Projects /> -->
    <!-- <Contact /> -->
  </div>
</BaseLayout>
